{
    "extends": [
        "airbnb",
        "prettier",
        "plugin:prettier/recommended",
        "prettier/react",
        "plugin:flowtype/recommended"
    ],
    "plugins": [
        "prettier",
        "flowtype"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/prop-types": 0,
        "no-underscore-dangle": 0,
        "import/imports-first": [
            "error",
            "absolute-first"
        ],
        "import/newline-after-import": "error",
        "no-prototype-builtins": 0,
        "func-names": "off",
        "generator-star-spacing": "off",
        "no-class-assign": "off",
        "react/button-has-type": 0,
        "no-shadow": "off",
        "react/jsx-wrap-multilines": "off",
        "react/jsx-one-expression-per-line": "off",
        "camelcase": "off",
        "react/prefer-stateless-function": [
            0,
            {
                "ignorePureComponents": true
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "all",
                "singleQuote": true,
                "tabWidth": 4
            },
            {
                "usePrettierrc": true
            }
        ],
        "no-console": "off",
        "no-use-before-define": "off",
        "no-param-reassign": "off",
        "import/prefer-default-export": "off"
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    },
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    }
}